﻿    @{
    Layout = "master.cshtml";
    }

<h3>List of all gadgets</h3>

<div class="table-responsive">
    <table class="table table-striped">
        <tbody>
            @foreach (var c in Model)
            {
            <tr>
                <td class="col-md-2">
                    <img src="/Content/static/@c.picture" style="width:40px; height:40px;" />                   
                </td>
                <td>
                    <a href="/articles/@c.id">@c.title</a>
                </td>
                <td class="col-md-2">
                    (@c.username, @c.createdString)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
