﻿    @{
    Layout = "master.cshtml";
    }


<div class="page-header">
    <h3>@Model.article.content </h3><span>by @Model.article.username</span>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <tbody>
    @foreach (var c in Model.comments)
    {
            <tr>
                <td class="col-md-2">
                    @c.username
                     <br />
                    @c.created
                </td>
                <td>@c.content </td>
            </tr>
    }
        </tbody>
    </table>
</div>
    
@if (Context.CurrentUser != null) {
    <h3>Leave a comment</h3>
    <form method="POST">
        <div class="form-group">
            <div class="form-group">
                <textarea class="form-control" rows="5" name="content" placeholder="Comment"></textarea>
            </div>            
            <div class="form-group">
                <input class="btn btn-default btn-block submit-button btn-primary" type="submit" value="Post" />
            </div>                          
        </div>
        @Html.AntiForgeryToken()
    </form>
}
