﻿    @{
    Layout = "master.cshtml";
    }

    
<div class="page-header">
    <h3>Hot today</h3>
</div>
<p>Most talked about gadgets today:</p>

@foreach (var c in Model) {
    <div class="col-sm-4 col-xs-6 col-md-3 col-lg-3">
        <a href="articles/@c.id" class="text-right thumbnail"><img src="/Content/static/@c.picture" class="img-responsive" /><small class="text-muted">@c.title (@c.username, @c.createdString)</small></a>
    </div>
}


