﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mainpage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/journal/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=News+Cycle:400,700" />
    <link rel="stylesheet" href="/Content/assets/css/Pretty-Login-Form.css" />
    <link rel="stylesheet" href="/Content/assets/css/user.css" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-0">
                <div class="row login-form">
                    <div class="col-md-11 col-md-offset-0">
                        <h2 class="text-center form-heading">Login</h2>
                        <form class="custom-form" method="POST">
                            <div class="form-group">
                                <input class="form-control" name="Username" type="text" placeholder="Username" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="Password" type="password" placeholder="Password" />
                            </div> 

                            <div class="checkbox">
                                <label>
                                    <input name="RememberMe" type="checkbox" value="True" />Remember me
                                </label>
                            </div>
                                        
                            <input class="btn btn-default btn-block submit-button"type="submit" value="Login" />
                            @Html.AntiForgeryToken()
                        </form>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-md-offset-1">
                <div class="row login-form">
                    <div class="col-md-11 col-md-offset-0">
                        <h2 class="text-center form-heading">Register </h2>
                        <form class="custom-form" method="POST" action="/register">
                            <div class="form-group">
                                <input class="form-control" name="username" type="text" placeholder="Username" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="email"  type="email" placeholder="Email" />
                            </div>                        
                            <div class="form-group">
                                <input class="form-control"  name="password"  type="Password" placeholder="Password" />
                            </div>
                            <div class="form-group">
                                <input class="form-control"  name="password2" type="Password" placeholder="Repeat password" />
                            </div>
                            <input class="btn btn-default btn-block submit-button" type="submit" value="Register" />
                            @Html.AntiForgeryToken()
                        </form>
                    </div>
                </div>
            </div>

            @if(Model.Errored){
            <div id="errorBox" class="floatingError">Invalid Username or Password</div>
            }
           

        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>