body {
    background-image: url("bg2.png");
    font-family: "Arial";
    display: flex;
    flex-flow: column;
    min-height: 100vh;

}
.header-link {
    float: right;
    clear: right;

}

.product-container {
    margin: 40px auto 0 auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-item {
    width: 125px;
    height: 125px;
    font-size: 10px;

    background-color: #f8f8f8;
    border-color: #b8b8b8;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    margin-right: 50px;
    margin-bottom: 50px;

    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2)
}


.product-item:hover {
    background-color: lightgray;
}

.product-item img{
    width: 125px;
    height: 105px;
}

.product-item-bar {
    float: right;
    right: 0px;
}


/*banner*/
.header-banner{
    font-size: 45px;
    font-family: Impact, Charcoal, sans-serif;
    color:white;
    background: #2a70e0;
    padding: 5px;
}

header, footer {
    display: flex;
    flex-flow: row;
}

/*menu*/
.header-menu {
    display: flex;
    flex-flow: row;
    width: 100%;
    background-color:whitesmoke;
}

.header-menu-item {
    text-align: center;
    line-height: 32px;
    padding-left: 25px;
    padding-right: 25px;

}

.header-menu-item a {
    text-decoration: none;
    color:darkslategray;
    font-size: 12px;
    font-weight:700;
}

.header-menu-item:last-child{
    margin-left: auto;
}

.header-menu-item:hover{
    background-color:lightgray;
}



body {
    margin: 0;
    box-sizing: border-box;

}

.hlogo {
    width: 64px;
    height: 64px;
}

h2 {
    font-size: 12px;
}


footer {
    clear: both;
}

.centered-content {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.main {
    min-height: 1000px;
    background: ghostwhite
}

article form label {
    float: left;
    width: 120px;
    clear: left;
}

.no-fixed-width {
    width: auto;
}

article form input,
article form textarea {
    float: left;
}

.content article {
    clear: both;
}

nav {
    display: block;
    width: 20%;
    float: left;
}

.content {
    width: 75%;
    float: left;
}

.thread-list{
    width: 100%;
}

.thread-list {
    color:dimgray;
    align:left;
}


tr:nth-child(even) {
    background-color: white;
}
tr:nth-child(odd) {
    background-color: lightgray;
}